.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.popup {
    background: var(--clr-bg-secondary);
    width: 90%;
    max-width: 500px;
    padding: 24px;
    border-radius: var(--radius);
    position: relative;
    max-height: 90vh;
    overflow-y: auto;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
}

.closeButton {
    position: absolute;
    right: var(--gap);
    top: var(--gap);
    width: 25px;
    height: 25px;
    background-color: var(--clr-text);
    color: var(--clr-bg-secondary);
    border-radius: 50%;
    border: none;
    cursor: pointer;
    font-size: 18px;
    line-height: 26px;
    text-align: center;
    &:hover {
        background-color: var(--clr-bg);

    }
}

.popupTitle {
    margin-top: 0;
    margin-bottom: 20px;
    text-align: center;
    font-size: 20px;
}


.itemsList {
    list-style: none;
    padding: 0;
    margin: 0;
}

.item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    gap: 10px 20px;
    border-bottom: 1px solid var(--clr-text);
}

.title {
    width: 45%;
}

.price {
    width: 30%;
}

.item strong {
    flex: 1;
    margin-left: 12px;
}

.quantityControl {
    display: flex;
    align-items: center;
 justify-content: space-between;
    width: 25%;
    gap: 6px;
}

.quantityControl button {
    width: 28px;
    height: 28px;
    background-color: var(--clr-bg);
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

.quantityControl button:hover {
    background-color: var(--clr-text);
}

.total {
    margin-top: 20px;
    font-size: 20px;
    font-weight: bold;
    text-align: right;
}

.popupActions {
    margin-top: 20px;
    display: flex;
    gap: 12px;
    justify-content: space-between;
}

.popupActions button {
    flex: 1;
    padding: var(--gap);
    background-color: var(--clr-bg);
    color: var(--clr-text);
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 18px;
    &.secondaryButton {
        background-color: var(--clr-muted);
        color: var(--clr-bg-secondary);
    }
}

.popupActions button:hover {
    background-color: var(--clr-primary);
    color: var(--clr-bg-secondary);
}
