
/* styles/main-nav.css */

/* --- Main Navigation Wrapper --- */
.main-nav {
    position: relative;
}

/* Top bar: always show Home + toggle */
.nav-top {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: space-between;
    /*gap: var(--gap);*/
    > a {
        padding: var(--gap);
        color: var(--clr-text);
        font-weight: 500;
        text-decoration: none;
        border-radius: var(--radius);
        &.active {
            background: var(--clr-secondary);
            color: white;
        }
        &:hover {
            background: var(--clr-primary);
            color: white;
        }
    }
}

/* Hamburger button (always visible for admins) */
.mobile-menu-toggle {
    background: none;
    border: none;
    font-size: 1.5rem;
    margin-right: var(--gap);
    cursor: pointer;
    color: var(--clr-text);
    display: block;
}

/* Off-canvas menu items (mobile first) */
.menu-items {
    position: absolute;
    top: 100%;
    left: calc(var(--gap) * (-1));
    /*inset-inline-start: 0;*/
    background: var(--clr-bg-secondary);
    /*width: 150%;*/
    max-width: 250px;
    opacity: 0;
    transition: opacity 0.3s ease;
    display: flex;
    flex-direction: column;
    gap: var(--gap);
    /*padding: var(--gap);*/
    border-radius: var(--radius) 0;
    z-index: 40;
    pointer-events: none;
    box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.5);

    .user-name {
        text-align: center;
    }
    .logout {
        font-size: 0.8em;
        background: none;
        border: 0;
        cursor: pointer;
        &:hover {
            color: var(--clr-secondary);
        }
    }

    .login {
        font-size: 0.8em;
        /*background: none;*/
        border: 0;
        cursor: pointer;
        &:hover {
            color: var(--clr-secondary);
            background: none;
        }
    }
}

.line {
    width: calc(100% - (var(--gap) * 2));
    margin-right: var(--gap);
    margin-left: var(--gap);
    height: 1px;
    background: var(--clr-text);
}

/* Slide in when “show” is toggled */
.menu-items.show {
    opacity: 1;
    pointer-events: all;
    padding: var(--gap);
}

/* Links inside the drawer */
.menu-items a {
    padding: 0.5rem;
    color: var(--clr-text);
    font-weight: 500;
    text-decoration: none;
    border-radius: var(--radius);
}
.menu-items a:hover {
    background: var(--clr-primary);
    color: white;
}
.menu-items a.active {
    background: var(--clr-secondary);
    color: white;
}
