/* styles/styles.css */

/* --- Variables & Resets --- */
:root {
    --clr-bg: #a7b68c;
    --clr-bg-secondary: #f3e4d6;
    --clr-primary: #614934FF;
    --clr-secondary: #41780c;
    --clr-text: #3c291b;
    --clr-muted: #666;
    --radius: 8px;
    --gap: 16px;
    --shadow: 0 2px 8px rgba(0, 0, 0, 0.75);
    --soft-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: var(--clr-bg);
    color: var(--clr-text);
    direction: rtl;
    text-align: right;
    font-family: sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

@font-face {
    font-family: FbDvashVeHalav, sans-serif;
    src: url(/FbDvashVeHalav-Halul.otf);
}

.lembas {
    /*font-family: FbDvashVeHalav;*/
    /*font-size: 1.5em;*/
    font-weight: 600;
}

h2 {
    font-size: 1rem;
}

.bold {
    font-weight: bold;
}

@media screen and (min-width: 601px) {
    body {
        font-size: 18px;
    }
}

@media screen and (max-width: 600px) {
    body {
        font-size: 16px;
    }
}
