.coverPhoto {
    box-shadow: var(--shadow);
    margin-top: 1rem;
    width: 100%;
    border: 2px solid var(--clr-text);
    height: auto;
    object-fit: cover;
}

.mainInfo {
    box-shadow: var(--shadow);
    margin: var(--gap);
    background-color: rgba(0, 0, 0, 0.1);
    padding: 50px;
    font-size: 1.3em;
    line-height: 1.3em;
    border-radius: var(--radius);
    border: 4px solid var(--clr-bg);
    text-align: center;
}

.bold {
    font-weight: bold;
}

.orderNow {
    font-weight: bold;
    color: #ffffff;
    font-size: 1.5em;
    line-height: 1.5em;
}

