.coverPhoto {
    box-shadow: var(--shadow);
    margin-top: 1rem;
    width: 100%;
    border: 2px solid var(--clr-text);
    height: auto;
    object-fit: cover;
}

.mainInfo {
    box-shadow: var(--shadow);
    margin: var(--gap);
    background-color: var(--clr-bg-secondary);
    padding: 50px;
    font-size: 1.3rem;
    line-height: 1.3em;
    border-radius: var(--radius);
    border: 2px solid var(--clr-text);
    text-align: center;
}


.header {
    font-size: 3rem;
    /*font-weight: 600;*/
    letter-spacing: 1px;
    font-family: FbDvashVeHalav, serif;
}

.orderNow {
    background-color: var(--clr-bg);
    padding: var(--gap);
    border-radius: var(--radius);
    font-weight: 500;
    color: #ffffff;
    font-size: 1.5rem;
    line-height: 1.5em;
    letter-spacing: 1px;
}

