.OrdersDetailedTable_12 {
    overflow-x: auto;
}

.OrdersDetailedTable_13 {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #ccc;
}

.OrdersDetailedTable_19 {
    width: fit-content;
    background: #f0f0f0;
}

.OrdersDetailedTable_41 {
    margin: 0;
    padding-left: 1rem;
}

