.form {
    padding: var(--gap);
}

.input {
    display: block;
    margin-bottom: var(--gap);
    padding: 5px;
    border-radius: 4px;
}

.button {
    display: block;
    padding: 10px var(--gap);
    border-radius: 6px;
    border: 0;
    background-color: var(--clr-secondary);
    color: white;
    cursor: pointer;
    width: 100%;
}

.button:hover {
    background: var(--clr-primary);
}

.divider {
    margin-top: var(--gap);
}

.line {
    margin: 25px 0;
    width: 50%;
    height: 1px;
    background: var(--clr-text);
}

.loginLink {
    color: var(--clr-secondary);
    text-decoration: underline;
}
